# Ignore log files
*.log

# Ignore Nuitka crash report files
nuitka-crash-report.xml

# Ignore resources_rc.py file
resources_rc.py

# Ignore ui_form.py file
ui_form.py

# Ignore build files
[Bb]uild/nuitka_*/
[Bb]uild/pyinstaller_*/
[Bb]uild/*.spec
*_nuitka.*/
*_pyinstaller.*/
